.DeleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centramos verticalmente */
  height: 100vh; /* Ajustamos la altura para que ocupe toda la pantalla */
  padding: 20px;
  background-color: #f7dece;
  margin: 0 auto; /* Centramos horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.DeleteContainer label {
  font-size: 16px;
  margin-bottom: 5px;
  width: 9%; /* Aseguramos que el label ocupe el mismo ancho que el input */
  color: white;
}

.DeleteContainer input,
.DeleteContainer select {
  width: 20%; /* Ajusta el valor para hacer los inputs más estrechos */
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #06000011;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  
}

.DeleteContainer select {
  background-color: #06000011;
}

.DeleteContainer p {
  font-size: 14px;
  margin-top: 10px;
  color: #06000011;
}

.DeleteContainer button {
  background-color: #2d2e2c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.DeleteContainer button:hover {
  background-color: #c9302c;
}

.DeleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centramos verticalmente */
  height: 300vh; /* Ajustamos la altura para que ocupe toda la pantalla */
  padding: 20px;
  background-image: url(https://www.xtrafondos.com/wallpapers/resized/colinas-en-paisaje-nocturno-11418.jpg?s=large);
  background-size: cover;
  margin: 0 auto; /* Centramos horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.DeleteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 192px;
  height: 550px;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);

}