.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centramos verticalmente */
  height: 100vh; /* Ajustamos la altura para que ocupe toda la pantalla */
  padding: 50px;
  background-color: #f7dece;
  border-radius: 10px;
  margin: 0 auto; /* Centramos horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer label {
  font-size: 16px;
  margin-bottom: 5px;
  width: 100%; /* Aseguramos que el label ocupe el mismo ancho que el input */
}

.formContainer input,
.formContainer select {
  width: 90%; /* Ajusta el valor para hacer los inputs más estrechos */
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #06000011;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  
}

.formContainer select {
  background-color: #06000011;
}

.formContainer p {
  font-size: 14px;
  margin-top: 10px;
  color: #000000;
}

.formContainer button {
  background-color: #2d2e2c;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-right: 20px;
  
}

.formContainer button:hover {
  background-color: #c9302c;
}

.formPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centramos verticalmente */
  height: 100vh; /* Ajustamos la altura para que ocupe toda la pantalla */
  padding: 20px;
  background-image: url('https://www.xtrafondos.com/wallpapers/resized/rayo-en-paisaje-9125.jpg?s=large');
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto; /* Centramos horizontalmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(5px);

}

.errors {
  color: black
}