.contenedorCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
}

.FilterCards { 
    display: flex;
    justify-content: center;
    margin: 20px; /* Ajusta el margen según tus necesidades */
    height: 50px;
  }
